<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sandwich U</title>
	<link rel="stylesheet" href="{% static 'ordenar.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
	<section class="cls-nav-bar">
		<div class="nav-bar">
			<div class="nav-bar-logo">
				Sandwich U
			</div>
			<div class="nav-bar-buttons">
				<a href="#">Ordenar</a>
				<a href="#">Reportes</a>
			</div>
		</div>
	</section>

    <section class="cls-ordenar">
		<div class="venta-total">
			<h1>Ventas Totales: 7</h1>
			<h2>Ventas de sandwich totales: 30</h2>
		</div>
		<div class="venta-detalle">
			<div class="venta-detalle-columna">
				<div class="col">
					<h2>Ventas Por dia</h2>
					<h3>21-3-12: 9</h3>
					<h3>22-3-12: 3</h3>
					<h3>23-3-12: 2</h3>
					<h3>24-3-12: 6</h3>
				</div>
				<div class="col">
					<h2>Ventas de sandwich por dia</h2>
					<h3>21-3-12: 9</h3>
					<h3>22-3-12: 10</h3>
					<h3>23-3-12: 17</h3>
					<h3>24-3-12: 12</h3>
				</div>
				<div class="col">
					<h2>Ventas por tamaño de sandwich</h2>
					<h3>Individual: 5</h3>
					<h3>Doble: 15</h3>
					<h3>Triple: 12</h3>
				</div>
			</div>
			<div class="venta-detalle-columna">
				<div class="col">
					<h2>Ventas por Ingrediete usado en sandwich</h2>
					<h3>Jamón: 12</h3>
					<h3>Champiñones: 12</h3>
					<h3>Pimentón: 1</h3>
					<h3>Doble queso: 7</h3>
					<h3>Aceitunas: 5</h3>
					<h3>Pepperoni: 18</h3>
					<h3>Salchichón: 17</h3>
					<h3>Queso: 3</h3>
				</div>
				<div class="col">
					<h2>Ventas por cliente</h2>
					<h3>Carlos Valero: 5</h3>
					<h3>Valentina Bastidas: 4</h3>
					<h3>Diego Rojas: 3</h3>
					<h3>Camila Cabello: 1</h3>
				</div>
				<div class="col">
					<h2>Ventas de sandwiche por cliente</h2>
					<h3>Camila Cabello: 8</h3>
					<h3>Valentina Bastidas: 6</h3>
					<h3>Carlos Valero: 5</h3>
					<h3>Diego Rojas: 3</h3>
				</div>
			</div>
		</div>
	</section>
	

</body>

</html>