<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sandwich U</title>
	<link rel="stylesheet" href="{% static 'ordenar.css' %}">
	<link rel="stylesheet" href="{% static 'reporte.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
	<section class="cls-nav-bar">
		<div class="nav-bar">
			<div class="nav-bar-logo">
				Sandwich U
			</div>
			<div class="nav-bar-buttons">
				<a href="/">Ordenar</a>
				<a href="/histroia">Histroia</a>
				<a href="/reporte_general">Reportes</a>
			</div>
		</div>
	</section>

    <section class="cls-ordenar">
		<div class="venta-total">
			<a href="/histroia"><h1>Transacciones Totales Realizadas: {{ventas_totales}}</h1></a>
			<h2>Sandwiches totales vendidos: {{ventas_sw_totales}}</h2>
		</div>
		<div class="venta-detalle">
			<div class="venta-detalle-columna">
				<div class="col">
					<h2>Transacciones por dia</h2>
					{% for v in ventas_dia %}
						<h3>{{v.fecha}}: <strong>{{v.count}}</strong></h3>
					{% endfor %}
				</div>
				<div class="col">
					<h2>Sandwiches vendidos por dia</h2>
					{% for v in ventas_sw_dia %}
						<h3>{{v.fecha}}: <strong>{{v.count}}</strong></h3>
					{% endfor %}
				</div>
				<div class="col">
					<h2>Transacciones por cliente</h2>
					{% for v in ventas_cliente %}
						{% for c in clientes %}
							{% if c.cliente_id == v.cliente_id %}
								<h3>{{c.nombre}} {{c.apellido}} ({{c.identificacion}}): <strong>{{v.count}}</strong></h3>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>				
			</div>
			<div class="venta-detalle-columna">
				<div class="col">
					<h2>Sandwiches vendidos (agrupado por ingrediente)</h2>
					{% for v in ventas_ingrediente %}
						{% if v.ingrediente_id == 1 %}
							<h3>Jamón: <strong>{{v.count}}</strong></h3>
						{% elif v.ingrediente_id == 2 %}
							<h3>Champiñones: <strong>{{v.count}}</strong></h3>
						{% elif v.ingrediente_id == 3 %}
							<h3>Pimentón: <strong>{{v.count}}</strong></h3>
						{% elif v.ingrediente_id == 4 %}
							<h3>Doble queso: <strong>{{v.count}}</strong></h3>
						{% elif v.ingrediente_id == 5 %}
							<h3>Aceitunas: <strong>{{v.count}}</strong></h3>
						{% elif v.ingrediente_id == 6 %}
							<h3>Pepperoni: <strong>{{v.count}}</strong></h3>
						{% elif v.ingrediente_id == 7 %}
							<h3>Salchichón: <strong>{{v.count}}</strong></h3>
						{% elif v.ingrediente_id == 8 %}
							<h3>Solo (queso): <strong>{{v.count}}</strong></h3>
						{% endif %}
					{% endfor %}
				</div>
				<div class="col">
					<h2>Sandwiches vendidos (agrupados por tamaño)</h2>
					{% for v in ventas_size %}
						{% if v.dimension_id == 1 %}
							<h3>Individual: <strong>{{v.count}}</strong></h3>
						{% elif v.dimension_id == 2 %}
							<h3>Doble: <strong>{{v.count}}</strong></h3>
						{% elif v.dimension_id == 3 %}
							<h3>Triple: <strong>{{v.count}}</strong></h3>
						{% endif %}
					{% endfor %}
				</div>
				<div class="col">
					<h2>Sandwiches vendidos (agrupado por cliente)</h2>
					{% for v in ventas_sw_cliente %}
						{% for c in clientes %}
							{% if c.cliente_id == v.cliente_id %}
								<h3>{{c.nombre}} {{c.apellido}} ({{c.identificacion}}): <strong>{{v.count}}</strong></h3>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	

</body>

</html>